In [67]:
import pickle
import pandas as pd
import numpy as np
import sys
from IPython.display import display

Филигранно распикливаем (с утечкой памяти:))

In [2]:
players_dict = pickle.load(open('data/chgk/players.pkl', 'rb'))
results_dict = pickle.load(open('data/chgk/results.pkl', 'rb'))
tournaments_dict = pickle.load(open('data/chgk/tournaments.pkl', 'rb'))

`players` и `tournaments` сразу в датафрейм, `results` пока что в словарь датафреймов

In [34]:
players = pd.DataFrame.from_dict(players_dict, orient='index').set_index('id')
tournaments = pd.DataFrame.from_dict(tournaments_dict, orient='index').set_index('id')
results_dfs = {id_: pd.DataFrame.from_records(result) for id_, result in results_dict.items()}

Фильтруем `results`, оставляем только те, где есть `mask`

In [64]:
filtered_results_dfs = {id_: df_ for id_, df_ in results_dfs.items() if 'mask' in df_.columns and not df_['mask'].isnull().any()}

In [69]:
filtered_results_dfs[1]

KeyError: 1

Конкатим в большую мультииндекс таблицу

In [70]:
concated = pd.concat(filtered_results_dfs.values(), keys=filtered_results_dfs.keys())
display(concated)

                                                     team  \
22   0  {'id': 1, 'name': 'Неспроста', 'town': {'id': ...
     1  {'id': 2, 'name': 'Афина', 'town': {'id': 201,...
     2  {'id': 670, 'name': 'Ксеп', 'town': {'id': 201...
     3  {'id': 173, 'name': 'ЮМА', 'town': {'id': 285,...
     4  {'id': 175, 'name': 'Транссфера', 'town': {'id...
...                                                   ...
6456 2  {'id': 55612, 'name': 'Экстремаль', 'town': {'...
     3  {'id': 68457, 'name': 'Орда', 'town': {'id': 3...
     4  {'id': 43261, 'name': 'Господин Брейтенбихер',...
     5  {'id': 69918, 'name': 'Teddyhaters', 'town': {...
     6  {'id': 63129, 'name': 'Якуба', 'town': {'id': ...

                                                     mask  \
22   0  0111011101101110001101110011111111110011111100...
     1  0111111101011010010101110111111111110011011111...
     2  0011111101011010011101110011111111110111111111...
     3  0111111001101110001101111011111111110100111111...
     4  0111111001101111001111111011111110110010111110...
...                                                   ...
6456 2            100110001100111011011110100100010101010
     3            100110101100001111110110100100010001010
     4            000001111100111001010110000100111001011
     5            100101101100100100010110100100010001010
     6            101000100110000110001000101000010100001

                                                  current  questionsTotal  \
22   0  {'name': 'КП - Неспроста', 'town': {'id': 201,...              67
     1  {'name': 'Афина', 'town': {'id': 201, 'name': ...              65
     2  {'name': 'Ксеп', 'town': {'id': 201, 'name': '...              65
     3  {'name': 'ЮМА-Энергокапитал', 'town': {'id': 2...              64
     4  {'name': 'Транссфера', 'town': {'id': 285, 'na...              64
...                                                   ...             ...
6456 2  {'name': 'Экстремаль', 'town': {'id': 286, 'na...              20
     3  {'name': 'Орда', 'town': {'id': 373, 'name': '...              19
     4  {'name': 'Нежность', 'town': {'id': 164, 'name...              19
     5  {'name': 'Teddyhaters', 'town': {'id': 285, 'n...              16
     6  {'name': 'Арабская ночь дальный восток', 'town...              13

       synchRequest  position controversials flags  \
22   0         None       1.0             []    []
     1         None       2.5             []    []
     2         None       2.5             []    []
     3         None       4.5             []    []
     4         None       4.5             []    []
...             ...       ...            ...   ...
6456 2         None       3.0             []    []
     3         None       4.5             []    []
     4         None       4.5             []    []
     5         None       6.0             []    []
     6         None       7.0             []    []

                                              teamMembers
22   0  [{'flag': None, 'usedRating': 0, 'rating': 0, ...
     1  [{'flag': None, 'usedRating': 0, 'rating': 0, ...
     2  [{'flag': None, 'usedRating': 0, 'rating': 0, ...
     3  [{'flag': None, 'usedRating': 0, 'rating': 0, ...
     4                                                 []
...                                                   ...
6456 2  [{'flag': 'Л', 'usedRating': 9087, 'rating': 9...
     3  [{'flag': 'Л', 'usedRating': 6807, 'rating': 6...
     4  [{'flag': 'Л', 'usedRating': 9601, 'rating': 9...
     5  [{'flag': 'Л', 'usedRating': 6401, 'rating': 6...
     6  [{'flag': 'Б', 'usedRating': 2283, 'rating': 2...

[435225 rows x 9 columns]